@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-lightest: #F8FAFC;
  --color-light: #E2E8F0;
  --color-dark: #475569;
  --color-darkest: #1E293B;
  --color-hover: #F1F5F9;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-darkest);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--color-lightest);
  }
}
